<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    properties: 可以使用该属性动态引入外部文件的
        resource：引入类路径下面的文件
        url：网络资源或者指定磁盘下面的文件。

    -->
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--
            开启全局默认缓存
        -->
        <setting name="cacheEnabled" value="true"/>
    </settings>
<!--
    typeAliases 别名处理器 为某个java类型起别名
            type：表示该类的全类名
            alias：表示该类的类名
    package:为某个包下面的所有的类批量起别名：
            name：指定包名,(为当前包以及包下面的所有的类都起一个默认的别名。(此别名是类名的小写。))
-->
    <!--<typeAliases>-->
        <!--&lt;!&ndash;<package name=""/>&ndash;&gt;-->
        <!--<typeAlias type="com.yantianpeng.MybatisHello.entity.Employee" alias="emp"/>-->
    <!--</typeAliases>-->
    <!--
        databaseIdProvider:支持不同的数据库厂商，
                           type：用来标示不同的数据库厂商标示。有厂商提供的驱动来查询出来。Mysql Oracle SQL Server 等等
    -->
    <!--<databaseIdProvider type=""/>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatisTest"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="Yantianpeng@123_"/>-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.user}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--<settings>-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--<setting name="" value=""-->
    <!--</settings>-->
    <mappers>
        <!--Mybatis映射文件-->
        <!--
            写好的sql映射文件注册到全局配置文件当中
        -->
        <mapper resource = "com/yantianpeng/MybatisHello/empMapper/empMapper.xml"/>
        <mapper resource = "com/yantianpeng/MybatisHello/empMapper/employeeDaoMapper.xml"/>
        <mapper class="com.yantianpeng.MybatisHello.dao.EmpolyeeMapperAnnotation"/>
        <mapper resource="com/yantianpeng/MybatisHello/empMapper/EmployeeMapperResultMapDao.xml"/>
        <mapper resource="com/yantianpeng/MybatisHello/empMapper/DepartmentMapperDao.xml"/>
        <mapper resource="com/yantianpeng/Dynamic/mapper/EmployeeDao.xml"/>
        <mapper resource="com/yantianpeng/Cache/Mapper/MybatisCache.xml"/>
    </mappers>
</configuration>